TELEGRAM_BOT_TOKEN=8989333201:AAGl0xKjgLr694241Ozp_LQ_hWPy57gV5EY
TELEGRAM_CHAT_ID=-5436603392
GOOGLE_SHEET_ID=194y5Sh6erFm9wXC2AaG7QEPTi4AT1iSecjjXmLq-AYs
GOOGLE_SHEET_CSV_URL=https://docs.google.com/spreadsheets/d/194y5Sh6erFm9wXC2AaG7QEPTi4AT1iSecjjXmLq-AYs/export?format=csv
GOOGLE_SHEET_PROXY_URL=http://localhost:3001/proxy
GOOGLE_SERVICE_ACCOUNT_JSON=./service-account.json
GOOGLE_API_KEY=YOUR_GOOGLE_API_KEY_HERE
TIMEZONE=America/Chicago
REPORT_HOUR=0
REPORT_MINUTE=1
